# Spatial-LSTM Impelementation in PeMS Traffic Volume Data

## 1. Data Preprocessing

"SPATIAL has the simplest data preparation require- ment with each time series loaded into a single array of [Nsensors, Ntimepoints] for each of the three variables." 
需要每一个station ，都有两列【时间timestamp，volume】

In [31]:
import pandas as pd

volume_df = pd.read_csv('volume_df.csv')
volume_df = pd.DataFrame(volume_df)
volume_df

,ID,Dir,Type,Length,Latitude,Longitude,t1_0,t1_1,t1_2,t1_3,...,t7_14,t7_15,t7_16,t7_17,t7_18,t7_19,t7_20,t7_21,t7_22,t7_23
0,311832,S,FR,0.000,38.409782,-121.484120,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,311844,N,OR,0.000,38.412779,-121.484363,33,37,45,75,...,536,594,591,512,449,451,361,264,152,100
2,311847,N,OR,0.000,38.428258,-121.487578,24,17,25,39,...,292,324,297,268,253,276,198,147,68,49
3,311864,N,FR,0.000,38.424648,-121.486808,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,312132,S,ML,1.347,38.409782,-121.484120,349,345,336,339,...,843,1015,965,1106,1023,881,759,454,456,346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,3420078,N,FR,0.000,39.496355,-122.197508,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
168,3420091,N,ML,3.619,39.525227,-122.214580,90,74,52,61,...,340,336,354,311,236,210,196,159,118,95
169,3420093,N,OR,0.000,39.524937,-122.214580,5,2,1,11,...,55,61,73,63,53,30,17,9,11,4
170,3420095,N,OR,0.000,39.525473,-122.214580,12,6,9,5,...,105,116,126,102,95,78,49,33,31,18
171,3420096,N,OR,0.000,39.522988,-122.214569,3,0,1,2,...,79,76,102,70,47,22,10,9,9,4

In [53]:
timeStamp = []

for day in range(23,30):
    for hour in range(0,24):
        string = "2023.01."+"% s" %day+" "+"% s" %hour+":00:00"
        timeStamp.append(string)

# Convert the list of strings to a DataFrame with a single column
timeStamp_df = pd.DataFrame({'timeStamp': timeStamp})

In [55]:
volume_dfs = {}  # Create an empty dictionary to store the DataFrames

for row in range(len(volume_df)):
    volume = volume_df.iloc[row, 6:175]
    df = pd.concat([timeStamp_df, volume], axis=1)
    # Add the value of 'row' to the name of the DataFrame
    df.columns = ['timeStamp', 'volume']
    # Store the DataFrame in the dictionary
    volume_dfs[row] = df